@import "tailwindcss";

body {
  /* Remove border-radius and overflow to avoid interfering with the page */
}

.banger-sidebar {
  color: #222;
  background: #fff;
  font-family: inherit;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}